#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}
.background {
  position: relative;
  background-image: linear-gradient(rgba(221, 24, 24, 0.27), rgba(0, 0, 0, 0.69)), url(background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  box-sizing: border-box;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
    /* padding-bottom: 9.5em !important; */
  }
}
